.App {
  min-height: 10vh;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

h1 {
  padding: 0%;
  margin: 0% 10px;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 40%;
  border: none;
  padding: 15px;
  margin: 30px 0px 30px ;
}

.search-button {
  background: lightcoral;
  color: white;
  padding: 14px 20px;
  border: none;
  font-size: 15px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}




